.example-spacer {
    flex: 1 1 auto;
}

  table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
.container{
    max-width: 2500px;
    margin: 0 auto;
}

table {
    width: 100%;
  }
  
 .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  #dltbtn{
    color: white;
    height: 90%;
}

#addbtn{
    width: 85px;
    height: 35px;
    margin-left: 10px;
    color: white;
}
