<!-- <div>
    <div class="row">
    
        <div class="col-md-6">
            <h2>Role List</h2>
        </div>
        <div class="col-md-6">
            <button id="btn1" class="btn btn-info col-md-2" type="button" (click)="onAdd()">
                <i class="fa-solid fa-plus"></i>
             Add
            </button>
        </div>
        
    </div>
    <nav class="navbar">
        <input class="col-md-2" type="text"  [(ngModel)]="service.roleData.name" (ngModelChange)="Search()"
            placeholder="Search here.." autocomplete="off">
    </nav>
    <table cTable>
        <thead cTableColor="dark">
            <tr>
                <th (click)="sort('id')" scope="col">Id&nbsp; <i class="fa fa-sort"></i></th>
                <th scope="col" (click)="sort1('name')">Role&nbsp; <i class="fa fa-sort"></i></th>
                <th scope="col">isAdmin</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            <tr
                *ngFor="let Role of service.listRole | orderBy : key:reverse | paginate : {itemsPerPage:5, currentPage:p};">
                <th scope="row">{{Role.id}}</th>
                <!-- <td><a (click)="updateRole(Role.id)">{{Role.name}}</a></td> -->
                <!-- <th><a href='edit/{{Role.id}}'>{{Role.name}}</a></th>
                <td>{{Role.isAdmin}}</td>
                <td>
                    <button id="dltbtn" (click)="deleteRole(Role.id)" style="margin-left: 10px;"
                        class="btn btn-sm btn-danger">
                        Delete
                    </button>
                </td> -->

            <!-- </tr>
        </tbody>

    </table>
    <div>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
</div> --> 
<c-container breakpoint="lg" class="h-auto">
<div class="container">
    <div class="row">
        <h2 class="col-md-3">Role List</h2>
        <div class="col-md-8"></div>
        <button id="addbtn" class="btn btn-info col-md-1"  type="button" (click)="onAdd()">
            <i class="fa-solid fa-plus"></i>
          Add
        </button>
    </div>
    <div style="margin-top : 10px ">
        <mat-form-field appearance="standard">
            <mat-label>Filter</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Search here.." #input>
          </mat-form-field>
          
          <div class="mat-elevation-z8">
            <table mat-table [dataSource]="dataSource" matSort>
          
              <!-- ID Column -->
              <ng-container matColumnDef="id" >
                <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                <td mat-cell *matCellDef="let row of"> {{row.id}} </td>
              </ng-container>
          
              
          
              <!-- Name Column -->
              <ng-container matColumnDef="name">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                <td mat-cell *matCellDef="let row of"><a href='edit/{{row.id}}'>{{row.name}}</a></td>
              </ng-container>

              <ng-container matColumnDef="isAdmin">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> isAdmin </th>
                <td mat-cell *matCellDef="let row of"> {{row.isAdmin}} </td>
              </ng-container>
          
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef mat-sort-header>Action</th>
                <td mat-cell *matCellDef="let row"> 
                    <button id="upabtn" (click)="updateRole(row.id)" style="margin-left: 10px;"
                    class="btn btn-sm btn-primary">
                    Edit
                    </button> 
                    <button id="dltbtn" (click)="deleteRole(row.id)" style="margin-left: 10px;"
                    class="btn btn-sm btn-danger">
                    Delete
                    </button>  
                </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          
              <!-- Row shown when there is no matching data. -->
              <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
              </tr>
            </table>
          
            <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
          </div>

    </div>
</div>
</c-container>
