// Here you can add other styles

.Theme-Color{

    color: #04046a !important;

}

.Theme-Bg-Color{

   background-color: #04046a !important;

}

.Theme-Border-Color{

    border-color:#04046a !important;

}