#tl{
    margin-bottom: 15px;
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    color: #0092c1;
}

#fu{
    height: 40px;
    width: 300px;
}

#ticketlist{
    overflow: scroll;
    
}

#all , #comments{
    margin-top: 10px;
}
#tl1{
    margin-right: 100px;
    color: #0092c1;
    font-weight: 500;
}
.ticket-card{
    margin-left:  -1%;
    margin-top:  -1%;
    
} 

#ticket-list{
    width: 350px;
}

.bt1{
    margin-top: 10px;
    color: black;
}

.d1{
    margin-top: 10px;
    color: #0092c1;
}


.a1{
    margin-top: 12px;
    color: #0092c1;
}

.t1{
    margin-top: 10px;
    color: grey;
}

.t2{
    margin-top: 2px;
    color: grey;
}