<div class="row">
<div class="col-md-3 ticket-card"  >

<div class="d-flex flex-column  bg-white" style="width: 350px;">
    <a href="/" class="d-flex align-items-center flex-shrink-0 p-3 link-dark text-decoration-none border-bottom">
        
        <span style="text-align: center;" id="tl1" class="fs-5"> Ticket List</span>
    </a>
    <div class="input-group rounded">
        <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search"
            aria-describedby="search-addon" />
        <span class="input-group-text border-0" id="sorting">
            <i class="fas fa-sort"></i>
        </span>
    </div>
    <div class="list-group list-group-flush border-bottom scrollarea">
        <a href="" class="list-group-item list-group-item-action  py-3 lh-tight" aria-current="true">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong class="mb-1" id="tl"><i class="fa fa-ticket" aria-hidden="true"></i> CM-01</strong>
                <small>27thJan 2022</small>
            </div>
            <div class="col-10 mb-1 small">Ticket Description</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong  id="tl" class="mb-1"><i class="fa fa-ticket" aria-hidden="true"></i> CM-02</strong>
                <small >20thFeb 2022</small>
            </div>
            <div class="col-10 mb-1 small">Ticket Description</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong  id="tl" class="mb-1"><i class="fa fa-ticket" aria-hidden="true"></i> CM-02</strong>
                <small >20thFeb 2022</small>
            </div>
            <div class="col-10 mb-1 small">Ticket Description</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong  id="tl" class="mb-1"><i class="fa fa-ticket" aria-hidden="true"></i> CM-02</strong>
                <small >20thFeb 2022</small>
            </div>
            <div class="col-10 mb-1 small">Ticket Description</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong  id="tl" class="mb-1"><i class="fa fa-ticket" aria-hidden="true"></i> CM-02</strong>
                <small >20thFeb 2022</small>
            </div>
            <div class="col-10 mb-1 small">Ticket Description</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong  id="tl" class="mb-1"><i class="fa fa-ticket" aria-hidden="true"></i> CM-02</strong>
                <small >20thFeb 2022</small>
            </div>
            <div class="col-10 mb-1 small">Ticket Description</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong  id="tl" class="mb-1"><i class="fa fa-ticket" aria-hidden="true"></i> CM-02</strong>
                <small >20thFeb 2022</small>
            </div>
            <div class="col-10 mb-1 small">Ticket Description</div>
        </a>
        <a href="#" class="list-group-item list-group-item-action py-3 lh-tight">
            <div class="d-flex w-100 align-items-center justify-content-between">
                <strong  id="tl" class="mb-1"><i class="fa fa-ticket" aria-hidden="true"></i> CM-02</strong>
                <small >20thFeb 2022</small>
            </div>
            <div class="col-10 mb-1 small">Ticket Description</div>
        </a>
    </div>
</div>
</div>
<div class="col-md-9">

    <h1><strong>Ticket Issue</strong></h1>
    <button class="btn1"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
    <h2 class="d1">Details </h2>
    <h4 class="t1">Type : </h4>
    <h4 class="t2">Status : </h4>
    <h4 class="t2">Priority : </h4>
    <h4 class="t2">Labels : </h4>

    <h2 class="d1">Description</h2>
    


    <!-- <p class="collapse" id="viewdetails2">Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
    <p><a class="btn" data-toggle="collapse" data-target="#viewdetails2">View details &raquo;</a></p> -->

</div>
</div>