<div class="card">
    <div class="card-header">
        <strong>State Master</strong>
    </div>
    <div class="card-body">
        <form novalidate="" action="" method="post" class="form-group col-md-2">
            <div class="form-group">
                <label for="if-email" class="sr-only">State</label><input type="Role" id="if-Role" name="if-Role"
                    placeholder="Enter State" autocomplete="Role" class="form-control" />
            </div>
        </form>
    </div>
    <div class="card-footer">
        <button type="submit" class="btn btn-sm btn-primary">
            <i class="fa fa-dot-circle-o">Add</i>
        </button>
        <!-- <button type="reset" style="margin-left: 10px" class="btn btn-sm btn-danger">
            <i class="fa fa-ban">Reset</i> 
        </button> -->
    </div>
</div>

